<a href="https://colab.research.google.com/github/cloverSR/PYTHON/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#passo 1 - Percorrer todos arquivos da pasta base de dados (pasta de vendas)
import os
import pandas as pd

lista_arquivo = os.listdir('/content/drive/MyDrive/python/Py/Vendas')
display(lista_arquivo)

['Devolucoes - Fortaleza.csv',
 'Vendas - Curitiba.csv',
 'Devolucoes - Curitiba.csv',
 'Vendas - São Paulo.csv',
 'Vendas - Porto Alegre.csv',
 'Devolucoes - São Paulo.csv',
 'Devolucoes - Rio de Janeiro.csv',
 'Devolucoes - Recife.csv',
 'Devolucoes - Belo Horizonte.csv',
 'Devolucoes - Porto Alegre.csv',
 'Vendas - Belo Horizonte.csv',
 'Devolucoes - Salvador.csv',
 'Vendas - Goiás.csv',
 'Vendas - Rio de Janeiro.csv',
 'Devolucoes - Goiás.csv',
 'Vendas - Recife.csv',
 'Vendas - Salvador.csv',
 'Vendas - Fortaleza.csv']

In [2]:
tabela_total = pd.DataFrame() #criando tabela vazia

#passo 2 - importar as bases de dados de vendas

for arquivo in lista_arquivo:
  #se tem 'vendas' no nome do meu arquivo, então:
  if 'Vendas' in arquivo:
   #importar o arquivo
   tabela = pd.read_csv(f'/content/drive/MyDrive/python/Py/Vendas/{arquivo}') #pd.read <- biblioteca pandas
   tabela_total = tabela_total.append(tabela) #tabela vazia, adicionando os dados de todas tabelas

#passo 3 = tratar / compilar as bases de dados   
display(tabela_total)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,0,HL4379,Televisão,5,Gabriel,Thoni,6/30/2018,Curitiba,2500,NaN
1,7,HL2714,Tablet,2,Thays,Castro,3/7/2018,Curitiba,1600,NaN
2,22,HL1918,iPhone,3,Lucas,Rodrigues,10/8/2018,Curitiba,5300,NaN
3,28,HL1918,iPhone,3,Gabriel,Silva,8/21/2018,Curitiba,5300,NaN
4,59,HL4379,Televisão,3,Pedro,Conceição,5/16/2018,Curitiba,2500,NaN
...,...,...,...,...,...,...,...,...,...,...
1442,9959,HL1918,iPhone,4,Rafael,Carneiro,6/19/2018,Fortaleza,5300,NaN
1443,9974,HL1148,Câmera,2,Thales,Gouvêa,2/20/2018,Fortaleza,2100,NaN
1444,9979,HL1918,iPhone,5,Brenno,Santos,10/18/2018,Fortaleza,5300,NaN
1445,9994,HL4379,Televisão,2,Caio,Ferreira,5/18/2018,Fortaleza,2500,NaN
1446,9995,HL1148,Câmera,5,Kim,Ferreira,3/6/2018,Fortaleza,2100,NaN

In [3]:
#passo 4 - calcular o produto mais vendido(em quantidades)
tabela_produtos = tabela_total.groupby('Produto').sum() #criando tabela produto e agrupando da tabela total apenas a coluna 'Produto' e utilizar o .sum p/ somar a qtde vendida
tabela_produtos = tabela_produtos[['Quantidade Vendida', "Preco Unitario"]].sort_values(by='Quantidade Vendida', ascending=False) #selecionando apenas as colunas desejadas, qtde vendida e preco unitario
#esta parte acimas ".sort_values(by='Quantidade Vendida', ascending=True)" serve para ordenar - True para crescente e False para decrescente
display(tabela_produtos)

            Quantidade Vendida  Preco Unitario
Produto
iPhone                    8974        15778100
Televisão                 5931         4905000
Notebook                  3249         3717000
Android                   3183         3631200
SmartWatch                2980         1393000
Tablet                    2921         1556800
Câmera                    2805         2020200

In [4]:
#passo 5 - calcular o produto que mais faturou (em faturamento)

tabela_total['Faturamento'] = tabela_total['Quantidade Vendida'] * tabela_total['Preco Unitario']
#linha acima foi criado uma coluna de "Faturamento" e pegando a quantidade vendida e multiplicando pelo preco unitario

tabela_faturamento = tabela_total.groupby('Produto').sum()
tabela_faturamento = tabela_faturamento[['Faturamento']].sort_values(by='Faturamento', ascending=False)
display(tabela_faturamento)

            Faturamento
Produto
iPhone         47562200
Televisão      14827500
Notebook       11371500
Android        10822200
Câmera          5890500
Tablet          4673600
SmartWatch      4172000

In [5]:
#passo 6 - calcular a loja/cidade que mais vendeu (em faturamento) 

tabela_lojas = tabela_total.groupby('Loja').sum()
tabela_lojas = tabela_lojas[['Faturamento']]
display(tabela_lojas)

                Faturamento
Loja
Belo Horizonte      6480300
Curitiba            7060500
Fortaleza          14087900
Goiás               7441800
Porto Alegre        6868600
Recife              7303000
Rio de Janeiro     14867800
Salvador           13111300
São Paulo          22098300

In [6]:
#- criar um grafico/dashboard
import plotly.express as px #importando o pacote e dando um apelido as px, p/ não precisar ficar escrevendo o tempo todo

grafico = px.bar(tabela_lojas, x=tabela_lojas.index, y='Faturamento') 
#linha acima - como a tabela loja é o indice da coluna que o groupby transformou em negrito, para localizar é necessario fazer desta forma -> "x=tabela_lojas.index"
grafico.show()